@content-padding: 64px;

.layout-container {
	.page-content, .post-content {
		background-color: @color-background;

		position: relative;
		top: 0;

		margin-left: @sidebar-width-normal;
		padding-left: @content-padding;

		overflow-x: hidden;

		@media @phone, @tablet {
			margin-left: @sidebar-width-phone;
			padding-left: 12px;
			padding-right: 12px;
		}

		&.navigating {
			top: -200vh;
		}
	}

	&.paged {
		.page-content, .post-content {
			.animation(scroll-up @default-transition-time);
		}
	}
}

@media @phone, @tablet {
	.layout-container {
		.page-content, .post-content {
			margin-top: 15%;
			opacity: 1;
		}
	}
}

@media @desktop {
	.layout-container {
		.page-content, .post-content {
			margin-top: 100%;
			opacity: 0;
		}

		&.scrolled, &.paged {
			.page-content, .post-content {
				margin-top: 25%;
				opacity: 1;
			}
		}
	}
}

.keyframes(~'scroll-up, from{ margin-top: 100%; opacity: 0; } to{ margin-top: 25%; opacity: 1; }');