.layout-container {
	.main-header {
		.display(flex);

		// layout
		position: relative;
		height: 100vh;
		width: 100%;
		z-index: 20;

		// content
		overflow-x: hidden;

		// color
		background-color: @color-header;

		.main-header-content {
			width: 100%;
			height: 50%;
			margin: auto;
			position: relative;
			z-index: 22;

			text-align: center;

			.page-title {
				font-family: "Quicksand", "Open Sans", sans-serif;
				font-weight: 400;
				font-size: 3em;
				text-align: center;
				margin-left: 12px;
				margin-right: 12px;
			}

			.page-description {
				font-family: "Open Sans", "Helvetica", sans-serif;
				font-weight: 300;
				font-size: 1.5em;
				text-align: center;
				margin-left: 16px;
				margin-right: 16px;
			}
		}
	}

	&.leaving {
		.main-header {
			left: -100vw;
		}
	}
}

@media @desktop {
	.layout-container {
		.main-header {
			position: fixed;
			left: 0;
			top: 0;

            width: @sidebar-width-normal;
            height: 110vh;

            .page-title {
                font-size: 3vh;
                font-size: 1.5em;
            }

            @media @phone {
                width: @sidebar-width-phone;
            }

            .main-header-content {
                opacity: 1;
                width: 100%;

                .page-description {
                    display: none;
                }
            }
        }

	}
}

@media @phone, @tablet {
	.layout-container {
        .main-header {
            height: auto;

            .clip-image {
                display: none;
            }
        }
	}
}