nav.main-nav {
	position: fixed;
	left: 8px;

	a {
		padding: 8px;
	}

	&.contrast {
		a {
			color: @color-foreground-contrast;
			text-shadow : 0 0 8px @color-background-contrast;
		}
	}
}

nav.pagination {
	position: fixed;
	bottom: 8px;
	right: 8px;
	font-size: 12px;
	background-color: fade(@color-foreground-contrast, 10%);
}