.post-head {
	.animation(fade-in 1s);
	background-size: cover;

	.main-header-content {
		&.contrast {
			color: @color-foreground-contrast;
			text-shadow : 0 0 8px @color-background-contrast;
		}

		.post-back {
			display: none;
			background-color: fade(@color-background-contrast, 80%);
			height: 64px;
			color: @color-foreground-contrast;

			position: absolute;
			left: 0;
			bottom: 15%;
			right: 0;

			cursor: pointer;

			&:hover {
				background-color: @color-background-contrast;
				right: 5%;
			}

			i {
				position: absolute;
				right: 24px;
				top: 50%;
				.translateY(-50%);
				color: inherit;
			}
		}
	}
}

.scrolled {
	.post-head {
		.post-back {
			display: block;
			right: 15%;
		}
	}
}

.post-content {
	margin-right: @sidebar-width-normal;

	@media @phone {
		margin-right: @sidebar-width-phone;
		margin-left: @sidebar-width-phone;
	}
}

.author-column {
	position: fixed;
	width: @sidebar-width-normal;
	right: 0;
	height: 100vh;
	top: 0;

	opacity: 0;

	.post-author {
		position: absolute;
		top: 50%;
		left: 50%;
		.translate(-50% -50%);
		width: auto;

		text-align: center;

		@media @phone {
			position: initial;
			width: auto;
		}

		.author-image {
			img {
				width: 64px;
				height: 64px;
				border-radius: 100%;
			}
		}

		p, span {
			font-size: 10px;
		}
	}
}

@media @phone, @tablet {
	.author-column {
		position: static;
		width: 100%;
		height: auto;

		.post-author {
			.transform(none);

			p, span {
				font-size: 14px;
			}
		}
	}
}

.layout-container.scrolled {
	.author-column {
		opacity: 1;
	}
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}