.layout-container {
	.main-header {
		.display(flex);


		// layout
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 4;

		// content
		overflow-x: hidden;

		// color
		background-color: @color-header;

		.main-header-content {
			width: 50%;
			height: 50%;
			margin: auto;

			text-align: center;

			.page-title {
				font-family: "Quicksand", "Open Sans", sans-serif;
				font-weight: 400;
				font-size: 5vh;
			}

			.page-description {
				font-family: "Open Sans", "Helvetica", sans-serif;
				font-weight: 300;
			}
		}
	}

	// when scrolled down
	&.scrolled {
		.main-header {
			width: @sidebar-width-normal;

			.page-title {
				font-size: 3vh;
			}

			@media @phone {
				width: @sidebar-width-phone;
			}

			.main-header-content {

				.page-description {
					display: none;
				}
			}
		}
	}

	&.leaving {
		.main-header {
			left: -100vw;
		}
	}
}